S
G
N
/verif/sim/coveragehtml
/verif/sim/eval_verif_top.ucdb
/verif/sim/work
/verif/sim/Equalizer.cr.mti
/verif/sim/Equalizer.mpf
/verif/sim/vsim.wlf
/verif/sv/backup
/verif/sv/sequences
/verif/sv/tests
/verif/sv/eq_scoreboard.sv